@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
.separator {
  content: '';
  display: inline-block;
  width: 200px;
  height: 8px;
  border-radius: 5px;
  background: #183e6f;
  vertical-align: middle;
  position: relative;
  top: -50px;
}

.icon {
  font-size: 54px;
}

.box__shadow {
  border-radius: 12px;
  box-shadow: 3px 8px 5px #444;
}

body h1, body h2 {
  font-family: "Pacifico", sans-serif;
  font-size: 48px;
  margin: 80px auto;
}

body h3 {
  font-size: 28px;
  margin: 16px auto;
}

body p, body a {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #333;
}

section {
  height: auto;
  padding-top: 75px;
}

header {
  height: 100vh;
  width: 100%;
  margin: 0;
  background-image: url("../images/herings__salad.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  opacity: .9;
}

.header__title {
  color: #fff;
  max-width: 40%;
  height: 150px;
  float: right;
  position: relative;
  top: 60vh;
  text-shadow: 2px 2px #333;
}

.header__title h1 {
  margin: 12px 12px;
}

.header__title p {
  color: #fff;
  font-size: 24px;
  margin-right: 12px;
}

@media (max-width: 767px) {
  .header__title {
    float: left;
    top: 200px;
  }
}

@media screen and (orientation: landscape) {
  .header__title {
    top: 100px;
  }
}

.navbar, .navbar-inverse {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  min-height: 80px;
  background-color: #183e6f;
}

.nav li {
  display: inline-block;
  color: white;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  padding: 30px 12px 33px 12px;
  text-transform: uppercase;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #333 !important;
  background-color: #fff !important;
  transition: 0.7s all linear;
  height: 100%;
}

.navbar-logo {
  width: auto;
  height: 1.5em;
  line-height: 1.5em;
  padding: 0;
  float: left;
  margin-right: 12px;
}

@media (max-width: 767px) {
  .navbar-logo {
    position: relative;
    top: 5px;
    height: 1em;
    line-height: 2em;
    margin-right: 5px;
  }
}

.navbar-brand {
  font-family: "Pacifico", sans-serif;
  font-size: 2em;
  line-height: 1.2em;
  color: #fff  !important;
}

.navbar-toggle {
  margin-top: 12px;
  height: 50px;
  border: none;
  border-color: transparent;
}

.navbar-toggle :hover {
  background-color: #183e6f;
}

.navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

.navbar-toggle:hover {
  background-color: #183e6f;
}

.offer__row {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .offer__row {
    display: block;
  }
}

@media (max-width: 767px) {
  .offer__row {
    display: block;
  }
}

.offer__item {
  display: block;
  padding: 50px;
}

.offer__item:hover {
  background-color: #183e6f;
  color: #fff;
  border-radius: 5px;
  transition: .4s;
}

.offer__item:hover p {
  color: #fff;
}

.menu h3 {
  font-size: 36px;
  margin-bottom: 25px;
  padding-top: 25px;
}

.menu ul {
  text-align: left;
}

.menu ul li:nth-of-type(even) {
  font-style: italic;
}

.menu ul li:nth-of-type(odd) {
  color: #183e6f;
  font-size: 24px;
}

.menu__row {
  height: auto;
  overflow: visible;
  margin: 25px auto;
}

@media (max-width: 767px) {
  .menu__row h3 {
    margin: 1em auto;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .menu__row h3 {
    margin: 1em auto;
  }
}

.menu__row .img__menu {
  height: 350px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin-top: 100px;
}

.row__salad__name__1 {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .row__salad__name__1 {
    display: block;
  }
}

@media (max-width: 767px) {
  .row__salad__name__1 {
    display: block;
  }
}

.row__salad__name {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
}

.gallery__item {
  height: 350px;
  padding: 0;
}

.gallery__item img {
  height: 350px;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  margin: 0;
  padding: 0;
}

.gallery__item .cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: 0.5s;
}

.gallery__item .cover span {
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  font-size: 42px;
}

.gallery__item .cover:hover {
  opacity: 1;
}

.gallery__item:hover {
  opacity: 0.5;
  transition: 0.4s;
}

.about {
  height: auto;
}

.about p, .about h3 {
  text-align: left;
}

.about__text {
  display: flex;
  flex-wrap: wrap;
}

#carousel {
  width: 400px;
  margin: 12px auto;
  overflow-x: hidden;
}

#carousel ul {
  width: 2000px;
  padding: 0;
  margin: 0;
}

#carousel ul li {
  width: 400px;
  text-align: center;
  height: 400px;
  list-style: none;
  float: left;
}

#carousel ul li img {
  width: 400px;
  height: 400px;
}

.contact {
  margin: 50px auto;
}

.contact__item {
  display: block;
  padding: 50px;
}

.contact__item:hover {
  background-color: #183e6f;
  border-radius: 12px;
  color: #fff;
  transition: .3s;
}

.contact__item:hover a {
  color: #fff;
}

.meetUs {
  height: auto;
}

.meetUs h3 {
  margin: 25px auto;
}

.meetUs h3 strong {
  color: #183e6f;
  font-size: 24px;
}

.meetUs .meetUs__text {
  padding-top: 50px;
  display: block;
}

.meetUs .meetUs__text img {
  height: 100px;
  width: auto;
  border-radius: 10%;
  margin: 2em auto;
}

.map {
  margin: 25px auto;
}

@media (max-width: 767px) {
  .map {
    width: 100%;
    height: 400px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .meetUs__row__1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
  }
}

@media (max-width: 767px) {
  .meetUs__row__1 {
    display: flex;
    flex-direction: column-reverse;
  }
}

.FAQ ul {
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .FAQ ul {
    width: 50%;
  }
}

.FAQ ul li:nth-child(odd) {
  font-size: 32px;
}

.FAQ ul li:nth-child(even) {
  margin-bottom: 25px;
}

.panel-footer {
  background-color: #183e6f;
  margin-top: 50px;
  margin-bottom: 0;
}

/*# sourceMappingURL=style.css.map */